* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

/*Geral*/

    .container {
        width: 1280px;
    }

/*Geral*/

/*\/ header \/*/

header.container {
    background-color: linear-gradient(90deg, #3BD57F, #195935);
    width: 100%;
    height: 100px;
    font-size: 40px;
}

/*/\ header /\*/