*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: #18171a;
}

div.videos{
    width: 500px;
    height: 350px;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    text-align: center;
}

h1{
    margin-bottom: 15px;
}

div.hard{
    width: 500px;
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.hard .cursoHard{
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

div.html{
    width: 500px;
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.html .cursoHtml{
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

div.js{
    width: 500px;
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.js .cursoJs{
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

div.python{
    width: 500px;
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.python .cursoPyt{
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}